/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
body{
    direction: rtl;
    overflow-x: hidden;
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Tajawal', sans-serif;
    color: #111;
    margin:0!important;
}
/* smooth scroll */
html {
    scroll-behavior: smooth;
  }
/* top page button */
  #pagetop{
      position: fixed;
      bottom:20px;
      left:20px;
      z-index: 9999;
      display: none;
      transition:all 1s ease-in-out
  }
  #pagetop:hover .fa-map-marker{
      color:#fff;
      transition:all 1s ease-in-out
     
  }
  #pagetop:hover .fa-long-arrow-alt-up{
    color: #4eafe4;
  }
  #pagetop .fa-map-marker{
     font-size: 50px;
     color: #4eafe4


  }
  #pagetop  .fa-long-arrow-alt-up{
    font-size: 37px;
    color: #fff;
    position: absolute;
    left: 10px;
    top: 4px;
}
  
/* index.html */
/* header-------------------------------------------------------- */
header{
position: relative;
height: 746px;
color: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
/* carousel of header */
header .carousel img{
    height:746px;
}
/* header carousel container */
header .carousel .carousel-caption{
    top: 35%!important;
    background:rgba(255,255,255,.3);
    box-shadow:0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding:50px;
    bottom: auto;
    height: 35%;
    transition: all 1s ease-in-out;

}
header .carousel .carousel-caption:hover{
    background:rgba(255,255,255,.6);
    transform: scale(1.1);

}
/* haeder carousel title caption */
header .carousel .carousel-caption h1{
  color: #00324D;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
}
header .carousel .carousel-caption p{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
}
/* prev & next header carousel settings */
.carousel-control-prev,
.carousel-control-next{
    top:8%!important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon
{
    background:none!important;
    font-size:24px;
    color: #fff
}
/* nav------------------------------------------- */
nav{
    position:fixed!important;
    top:0!important;
    width: 100%;
    height:70px;
    z-index: 9999;
    background:rgba(32, 147, 209, .15)
}
.nav-pages-bg{
    background:url(../imgs/1.jpg)!important;
}
/* logo imf */

nav .navbar-brand {
 position: absolute;
 top:-2px;
 left: 40px;
}
/* nav link */
nav .nav-item{
    padding:0 4px!important;

}
nav a{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
nav a:hover{
    color: rgb(78, 175, 228)!important;

}
/* active nav link */
nav .nav-item .nav-link.active-page{
    color:#5DC6FF!important;
    position: relative;

}
nav .nav-item .nav-link.active-page::after{
    content: '';
    position: absolute;
    top: 54px;
    right: 11px;
    height: 1px;
    width: 80%;
    background:  #4eafe4;
    border-radius: 28px;
    

}
/* drop down nav link */
.dropdown-menu{
    text-align: right!important;
}
.dropdown-toggle::after{
    display: none!important;
}
/* drop down services */
.nav-item .dropdown-menu{
    box-shadow: 0px 0px 6px #5DC6FF61;
    border-radius: 22px 0px;
    right: -38px!important;
}
.nav-item .dropdown-menu a{
    font-size: 12px;
    text-align: center;
}
/* for responsive nav */
.navbar{
    padding: 0!important;
}
.navbar-collapse{
    text-align: right;
}
/* home contant----------------------------------------------------------- */
/* home content section container(مسؤؤليتنا&رؤيتنا&رسالتنا) */
/* container &bg */
.home-content{
    padding: 0!important;
    background:url(../imgs/3.jpg);
    background-attachment: fixed;
    background-position:right ;
    background-size: contain;
    height: auto;
    margin: 50px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* row & overlay */
.home-content-row{
    background:rgba(42, 42, 42, .88) ; 
    padding: 60px;

    

}
/* title  */
.home-content-row h2{
    position: relative;
    font: normal normal bold 45px/85px Cairo;
    letter-spacing: 0.45px;
    color: #D2D2D2;
    opacity: 1;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    transition: all 1s ease-in-out;

}
.home-content-row h2:hover{
    transform: scale(1.1);

}
.home-content-row h2::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top:87%;
    right:48%;
    background:rgba(119, 196, 255, .4);
}

/* text paragraph */
.home-content-row p{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 80%;
    margin:20px auto;
    padding: 35px 50px;
    font-size: 21px;
    font-weight: bold;
    color: #232323;
    text-align: right;
    transition: all 1s ease-in-out;
    background:rgba(255,255,255,.55);
    


}
.home-content-row p:hover {
    box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px, -50px -50px 0 -40px rgba(119, 196, 255, 1), 50px 50px 0 -40px rgba(119, 196, 255, 1);
    color: #031427;
    background:rgba(255,255,255,.4);
}
.home-content-row p i{
    margin-right: 95%;
    margin-top: -3%;
    color:rgba(119, 196, 255, .4);
    font-size: 34px;
    transition:all 1s ease-in-out;
}
.home-content-row p:hover i {
    color:rgba(119, 196, 255, 1)
}

/* section1--------------------------------------------------------------- */

/* services home----------------------------------------------------------- */
.home-services-sec{
    padding: 50px;
    margin:20px 0;

}
/* service title */
.home-services-sec h2{
    color: #3A3A3A;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.45px;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);


}

.home-services-sec h2::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:83%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
/* service owl carousel setting */
.home-services-sec .owl-carousel{
    direction: ltr;
}
.owl-carousel .owl-prev{
    font-size: 70px!important;
    color: #4eafe4!important;
    height: 50px !important;
    width: 50px !important;
    top: 40%;
    left: -1px;
    position: absolute;
}
.owl-carousel .owl-next{
    font-size: 70px!important;
    color: #4eafe4!important;
    height: 50px !important;
    width: 50px !important;
    top: 40%;
    right: -1px;
    position: absolute;
}
.owl-carousel .owl-next span,
.owl-carousel .owl-prev span{
    position: absolute;
    top: -33px;
    right: 17px;

}
/* service item */
.home-service-item{
    padding: 10px 20px;
    margin:10px 20px;

}
.home-service-item a{
    height: 280px;
    width: 280x!important;
    overflow: hidden;
    padding-bottom: 20px;
    text-decoration: none;
    transition: all 2s ease-in-out;
    box-shadow: 0px 0px 6px #00000066;

}
.home-service-item a h4{
    color: #031427;
    font-size:28px ;
    font-weight: 600;
}
.home-service-item a div{
    height: 100%;
    width: 100%;
    margin-bottom: 25px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    position: relative;
    border-radius:2px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s ease-in-out;


}
.home-service-item a div img{
    transition: all 1s ease-in-out;
    border-radius: 5px;
    
}
.home-service-item a div span{
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    right: 0;
    background: rgba(0,0,0,0.70);
    transition: all 1s ease-in-out;
    display: none;
}
.home-service-item a div span h5{
    
    transition: all 1s ease-in-out;
    margin-left:4%;
    margin-top: 28%;

    
}
.home-service-item a div span h5 i{
    height: 50px;
    width: 50px;
    color:#fff;
    border:2px solid #fff;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    padding:15px

}
.home-service-item a:hover img{
    transform: scale(1.1);

}
.home-service-item a:hover {
    transition: all 1s ease-in-out;

}
.home-service-item a:hover span{
    display:block

}



/* home video------------------------------------------------------------ */
.home-video{
    background: rgba(210, 210, 210, .16);
    padding: 50px;

}
.home-video h2{
    color:#3A3A3A;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.45px;
    margin-bottom:45px;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
}
.home-video h2::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:83%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}

.home-video iframe{
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}
.ytp-large-play-button-bg{
    fill:#4eafe4!important;
}

/* home contact--------------------------------------------------------- */
.home-contact{
    margin-top: 75px;
    padding:20px 50px;
    background-attachment: fixed;
}
.home-contact h2{
    color:#3A3A3A;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.45px;
    margin-bottom:45px;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
}
.home-contact h2::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:83%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}

.home-contact-right {
    color:#3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:10px;
    padding:20px;

}
.home-contact-right span{
    color:#2093D1;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-right: -1px;
    margin-top: 0px;
}
   


.home-contact-right i{
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    background: #f1f1f1;
    color: #2093D1;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    padding-top: 15px;
    font-size: 19px;
    position: absolute;
    right: -28px;
    transition: all 1s ease-in-out;

}
.home-contact-right i:hover{
    transform: translateY(4px);
    background: transparent;
    color: #4eafe4;
    border:1px solid  #4eafe4;
}
.home-contact form input,
.home-contact form textarea
{
    border:1px solid #f0f0f0!important;
    background: #f1f1f1;
    margin:20px;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 0;
    padding:20px
}
.home-contact form button{
    background: #2093D1;
    color: #3A3A3A;
    border-radius: 32px;
    padding: 4px 10px;
    height: 64px;
    width: 264px;
    font-size: 30px;
    font-weight: 600;
    transition: all 1s ease-in-out;
    letter-spacing: 0.3px;
    box-shadow: 0px 0px 10px #00000029;
    opacity:.7;

}
.home-contact form button:hover{
    transform: translateY(4px);
    background: transparent;
    color: #4eafe4;
    border:1px solid  #4eafe4;
    opacity: 1;
}
/* footer---------------------------------------------------------------- */
footer{
    background:url(../imgs/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:#4eafe4;
    font-size: 21px;
    font-weight: 600;
    padding:50px 10px 10px 10px;
    position: relative;
    margin-right: 0!important;
    margin-left: 0!important;
   

}
.footer-row::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height:100%;
    background:rgba(45,53,58,.5);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
}
.all-footer-elements{
    position: relative;
    z-index: 999;
}
footer h3{
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 0.27px;
   

}
.footer-middle p{
    font-size: 12px;
}
footer ul{
    padding-inline-start: 0;
}
footer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
}
footer ul li a{
    color: #77C4FF;
    font-size: 28px;
    font-weight: 600;
    height: 39;
    width: 39;
    transition:all 1s ease-in-out;
}
footer ul li a i{
    transition:all 1s ease-in-out;
}
footer ul li a:hover i{
    color: #fff;
    transform: scale(1.1);
}

.footer-white{
    color:#D2D2D2
}
.footer-bold{
    font-weight: 600;
}
footer img{
    margin-top:24px;
}
/* 
------------------------------------------------------------------
about page
------------------------------------------------------------------
*/

.about{
    margin: 200px auto  75px auto ;
    padding-left: 100px;
    padding-right: 100px;
}
.about-title{
    font-size:45px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #3A3A3A;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.about-title::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.about-content{
    font-size:  21px;
    font-weight: bold;
    letter-spacing: 0.21px;
    color: #3A3A3A;
    line-height: 2.5rem;
}
.about-presednt-content{
    background: #232323 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 15px #5DC6FFD9;
    padding:50px
}
.about-presedent-img img{
    width: 447px;
    height:585px;
    margin-top: -85px;
    box-shadow: 0px 0px 15px #5DC6FFD9;
    transition:all 1s ease-in-out;

}
.about-presedent-img img:hover{
    margin-top: -100px;

}
/* خبراتنا--------------------------------------------------------------- */

.about-exp{
    margin: 200px 0;
    padding: 0!important;
    
}
.about-exp-title{
    margin-top: -120px;
}
.about-exp-content{
    box-shadow: 0px 0px 15px #5DC6FFD9;
    
}
.about-exp-content p{
    padding: 100px 70px 50px 0;
}
.about-exp-img img{
    width: 300px;
    height: 350px;
    margin-top: -50px;
    margin-left: 50px;
    box-shadow: 0px 0px 10px rgba(58, 58, 58, 1);
    margin-bottom: 50px;
    transition: all 1s ease-in-out;
}
.about-exp-img img:hover{
    margin-top: -70px;

}
.about-exp1 .about-exp-content{
    background:rgba(210,210,210,.44);
    margin-left:25%;
}
.about-exp2  .about-exp-content{
    margin-right: 25%!important;
}
/* services------------------------------------------------------------- */
.services{
    margin-top:250px;
    
}
.service-sec{
    box-shadow: 0px 0px 15px #5DC6FFD9;
}
.service-title{
     font-size:45px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #3A3A3A;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.service-title::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.service-content{
    font-size:  22px;
    font-weight: bold;
    letter-spacing: 0.22px;
    color: #D2D2D2;
    line-height: 2.5rem;
    text-align: right;
}
.service-img{
    margin-top:-100px;
    width: 400px;
    height: 350px;
    box-shadow: 0px 3px 15px #000000B0;
    transition:all 1s ease-in-out;
}
.service-img:hover{
    margin-top:-120px;

}
.services-other{
    margin:100px 0;
    padding: 30px;
}
.service-owl-carousel{
    direction: ltr;
}
.service-owl-carousel .owl-prev,
.service-owl-carousel .owl-next{
    color:#3A3A3A!important
}
.service-owl-item div{
    height: 250px;
    width: 250px!important;
    overflow: hidden;
    border-radius: 50%;

}
.service-owl-img{
    height: 250px;
    width: 250px!important;
    border-radius: 50%;
    box-shadow: 0px 3px 6px #00000029;
    transition:all 1s ease-in-out;

}
.service-owl-img:hover{
    transform: scale(1.1);
    opacity: .5;
}
.service-owl-title{
    font-size:28px;
    font-weight: bold;
    letter-spacing: 0;
    color: #3A3A3A;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
/* projects ------------------------------------------------------------*/
.project{
    margin-top:370px;
    margin-bottom:100px;
    padding:50px;
    box-shadow: 0px 0px 15px #5DC6FFD9;

}
.project-name{
    font-size:49px;
    font-weight: bold;
    letter-spacing: 0.49px;
    color:#D2D2D2;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top:50px;
}
.project-name::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.project-description{
    font-size:  22px;
    font-weight: bold;
    letter-spacing: 0.22px;
    color: #D2D2D2;
    line-height: 2.5rem;
    text-align: right;
    margin-top:50px;

}
.project-big-img{
    padding:30px 70px;

}
.project-big-img img{
    margin-top:-150px;
    width: 100%;
    height: 400px;
    box-shadow: 0px 0px 15px #5DC6FFD9;
    transition:all 1s ease-in-out;
}
.project-big-img img:hover{
    margin-top:-120px;
 
}
.project-sm-img img{
    width: 170px;
    height: 130px;
    margin:auto;
    box-shadow: 0px 0px 15px #5DC6FFD9;
    transition:all 2s ease-in-out;
}
.project-sm-img img:hover{
    transform: scale(2);
}
/* other projects--------------- */

.projects-other{
    margin:100px 0;
    padding: 30px;
}

.projects-title{
    font-size:35px;
    font-weight: bold;
    letter-spacing: 0;
    color: #3A3A3A;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:2px solid rgba(210, 210, 210, 1);

}
.projects-title::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.projects-owl-carousel{
    direction: ltr;
}
.projects-owl-carousel .owl-prev,
.projects-owl-carousel .owl-next{
    color:#3A3A3A!important
}
.projects-owl-item{
    padding: 40px;
}
.projects-owl-item div{
    height: 250px;
    width: 350px!important;
    overflow: hidden;
}
.projects-owl-img {
    height: 250px;
    width: 350px!important;
    box-shadow: 0px 0px 15px #5DC6FFD9;
    opacity: 0.85;
    transition: all 1s ease-in-out;

}
.projects-owl-img:hover{
    transform: scale(1.2);
    opacity: .5;
}

.projects-owl-title{
    font-size:35px;
    font-weight: bold;
    letter-spacing: 0;
    color: #3A3A3A;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom:2px solid rgba(210, 210, 210, 1);

}
 .projects-owl-title::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
/* clients------------------------------------------------------- */
.clients{
    margin-top:180px;
    margin-bottom: 50px;
}
.clients-owl-carousel{
    direction: ltr;
    border-radius: 12px;
    box-shadow: 0px 0px 10px #5DC6FFD9;
    margin:30px;
    padding:50px 20px 20px 20px;

}
.clients-owl-carousel .owl-prev span {
    right: 60px!important;
}
.clients-owl-carousel .owl-next span {
    right:-32px!important;
}
.clients-owl-carousel  .owl-prev,
.clients-owl-carousel  .owl-next{
    color:#3A3A3A!important
}
.clients-owl-row{
    padding:15px 30px;
    
}
.clients-owl-row img{
    box-shadow: 0px 0px 10px #5DC6FFD9;
    border-radius: 12px;
    opacity: .8;
    transition:all 1s ease-in-out;

}
.clients-owl-row img:hover{
    transform: scale(.9);
    border-radius: 40px;

}
.clients-title{
    font-size:35px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top:50px;
}
.clients-title::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
/* units--------------------------------------------------------------------------- */
.unit-header{
    height: 650px ;
    background:url(../imgs/1.jpg);
    transition: all 1s ease-in-out;
    background-attachment: fixed;
}

.units{
    margin-top:180px;
    margin-bottom: 50px;
}
.units-title{
    font-size:35px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 50px;
    margin-top:50px;
}
.units-title::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.unit-content{
    border-radius: 12px;
    box-shadow: 0px 0px 10px #5DC6FFD9;
    background:#f8f8f8;
    

}
.unit-content-nav{
    padding:0!important;
    width: 100%!important;
    border-bottom:none!important
}
.unit-content-nav .tab-content{
  /* width: 100%;      */
}
.unit-item{
}
.unit-content-nav li{
    width: 50%!important;
}
.unit-content-nav li .nav-link.active{
   border:none!important;
   background:#d8edf9;
}
.unit-content-nav li .nav-link{
    background:#f9f9f9;
    padding: 8px;
    font-size:35px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    box-shadow: 0px 0px 10px #5DC6FFD9;

 }
 .unit-sell-open-model{
     z-index: 99999;
 }
.unit-item-btn{
    background:#fff;
    box-shadow: 0px 0px 10px #23232333;
    border-radius: 12px 12px 0 0;
    margin:50px 20px;
    padding:0!important;
    width: 80%;
    overflow: hidden;
    transition:all 1s ease-in-out;
    
}
.unit-item-btn i{
    transition:all 1s ease-in-out;
}
.unit-item-btn:hover i{
    color :#5DC6FFD9
 }
 .unit-item-btn:hover .unit-name{
    color :#5DC6FFD9
 }
 .unit-item-btn:hover .unit-num{
    color :#5DC6FFD9
 }
.unit-name{
    font-size:24px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    padding: 10px;
    transition:all 1s ease-in-out;

}
.unit-num{
    font-size:16px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    padding: 5px;
    transition:all 1s ease-in-out;


   
}
.unit-btn-img{
    box-shadow: 0px 0px 10px #5DC6FFD9;
    width: 100%;
    height: 200px;
    margin:0!important;
    padding: 0!important;
    transition: all 1s ease-in-out;
    
}
.unit-btn-img:hover{
    transform: scaleX(1.1);
}
.unit-sell-header{
    font-size:34px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    padding: 20px 5px 5px 5px;
    margin-top: 30px;

}
.unit-sell-header2{
    font-size:23px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    padding: 5px;
    margin-bottom: 30px;
}
.unit-sell-open-img{
    width:100%;
    height: 600px;
}
.unit-sell-open-info h2{
    font-size:28px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color:#3A3A3A;
    position: relative;
    padding: 15px;
    border-left: 2px solid #eee;

}
.close span{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 60px;
}
/*rent unit */
.tab-content{
    position: relative;


}
.unit-rent-item,.unit-item{
    margin:auto;
}
.unit-rent-item-btn{
    background-color: #fff;
    width: 270px;
    overflow: hidden;
    padding:0;
    box-shadow: 0px 0px 10px rgba(35, 35, 35, 0.21);
    border-radius: 15px 15px 0 0;
    margin:50px auto;
}
.unit-rent-item-btn:hover .unit-rent-btn-img{
    transform: scale(.9);
}
.unit-rent-name{
    font-size:  15px;
    font-weight: bold;
    letter-spacing: 0.15px;
    color: #3A3A3A;
    margin-top: 10px;

}
.unit-rent-name i{
    background:rgba(93, 198, 255, .5);
    width: 22px;
    height: 22px;
    padding-top: 5px ;
    margin-left: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 1px;
    transition: all 1s ease-in-out;
}
.unit-rent-name i:hover{
   transform: scale(1.1);
}
.unit-rent-close-model h5{
    font-size:  11px;
    font-weight: bold;
    letter-spacing: 0.11px;
    color: #3A3A3A;
}
.unit-rent-btn-img{
    height: 190px;
    width: 270px;
    transition: all 1s ease-in-out;

}
.unit-rent-num{
    padding-inline-start: 0;
    margin-top: -10px;
    padding-top: 10px;
    position: relative;
}
.unit-rent-num li{
    position: relative;
    z-index: 99;
}
.unit-rent-num::before{
    content: "";
    position: absolute;
    width: 270px;
    height: 75px;
    top:0;
    right:0;
    border-radius: 13px 13px 0px 0px;
    z-index: 1;
    background:#fff;
}
.unit-rent-num h3{
    font-size:  11px;
}
.unit-rent-num .fa-times{
    color:#e03b3b;
}
.unit-rent-num .fa-check{
    color:#73cf65;;
}
.unit-rent-open-model{
    z-index: 99999;
}
.unit-rent-header{
    font-size: 41px;
    font-weight: bold;
    letter-spacing: 0.41px;
    color: #3A3A3A;
    margin-top: 30px;
}
.unit-sell-header2{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.23px;
    color: #3A3A3A;
}
.unit-rent-header i{
    color:#00324D;
}
.unit-rent-open-img{
    width: 100%;
    height: 550px;
    box-shadow: 0px 3px 6px #00000029;
}

.unit-rent-open-info h3{
    font-size: 23px;
    font-weight: bold;
    letter-spacing: 0.23px;
    color: #3A3A3A;
}
.unit-rent-open-info-ul{
    border-bottom: 1px solid #eee;
}
.unit-rent-open-info h2{
    font-size: 20px;
    color: #3A3A3A;
    font-weight: bold;
    margin-top: 25px;
    padding:15px;
}
.unit-rent-desc h3{
    font-size: 23px;
    color: #3A3A3A;
    font-weight: bold;
    margin-right: 65px;
}
.unit-rent-open-info img{
    width: 21px;
    height: 21px;
}
.unit-rent-open-info .fa-check{
    font-size: 20px;
    color:#73cf65;;

}
.unit-rent-open-info .fa-times{
    font-size: 20px;
    color:#e03b3b
}
.unit-rent-form-title{
    color:#2093D1;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}
.unit-rent-form form input{
    background:rgba(210, 210, 210, .3);
    border:none;
    padding:20px;
    margin:10px 30px;
}
.unit-rent-form form button{
    color:#3A3A3A;
    background:rgba(93, 198, 255, .6);
    font-size: 30px;
    font-weight: bold;
    width: 200px;
    height: 65px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
    border-radius: 38px;
    transition: all 1s ease-in-out;
}
.unit-rent-form form button:hover{
    color:#2093D1;
    background:rgba(93, 198, 255, .0);
    border: 1px solid #2093D1;
    margin-top:-2px;
}
/* contact---------------------------------------------- */
.contact{
    margin-top:200px
}
.contact-title{
    font-size:45px;
    font-weight: bold;
    letter-spacing: 0.45px;
    color: #3A3A3A;
    position: relative;
    border-bottom:2px solid rgba(210, 210, 210, 1);
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.contact-title::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top:88%;
    right:41%;
    background:rgba(119, 196, 255, .4);
}
.contact-content{
    
    font-size:  21px;
    font-weight: bold;
    letter-spacing: 0.21px;
    color: #232323;
    line-height: 2.5rem;


}
.contact-text{
    background:  #f7f7f7;
    box-shadow: 0px 0px 15px #b5b5b5;
    padding:50px;
    margin-top:50px;
    margin-bottom:100px;
}
.contact-img img{
    width: 430px;
    height: 500px;
    margin-top: -100px;
    box-shadow: 0px 0px 15px #b5b5b5;

}
/* contact form------------------------------------------------ */
.contact-page-form{
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding:20px;
    background-attachment: fixed;
    border-radius: 12px;
}


.contact-page-form-right {
    color: #0b335f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom:10px;
    padding:20px;

}
.contact-page-form-right span{
    color:#2093D1;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-right: -1px;
    margin-top: 0px;
}
   


.contact-page-form-right i{
    box-sizing: border-box;
    height: 55px;
    width: 55px;
    background: #f1f1f1;
    color:#1f93d1;
    border-radius: 5px;
    text-align: center;
    vertical-align: center;
    padding-top: 15px;
    font-size: 19px;
    position: absolute;
    right: -28px;
    transition: all 1s ease-in-out;

}
.contact-page-form i:hover{
    transform: translateY(4px);
    background: transparent;
    color: #4eafe4;
    border:1px solid  #4eafe4;
}
.contact-page-form form input,
.contact-page-form form textarea
{
    border:1px solid #f0f0f0!important;
    background:#f1f1f1;
    margin:20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0;
}
.contact-page-form form button{
    background: #f1f1f1;
    color: #3A3A3A;
    border-radius: 30px;
    padding: 4px 10px;
    height: 65px;
    width: 170px;
    font-size: 30px;
    font-weight: 600;
    transition: all 1s ease-in-out;
    letter-spacing: 0.3px;


}
.contact-page-form form button:hover{
    transform: translateY(4px);
    background: transparent;
    color: #4eafe4;
    border:1px solid  #4eafe4;
    
}
/* media query --------------------------------------------------------------------*/
@media (min-width: 992px){
    .modal-lg {
        max-width: 80%!important;
        overflow: hidden;
    }
}


@media screen and (max-width: 600px) {
   /* nav responsive--------------- */
   nav{
    background:#232323!important;
    height:auto!important;
   }
   nav .nav-link{
       border-bottom: none!important;

   }
   .navbar-brand{
       top:0!important;
       height: auto;
   }
   .navbar-toggler-icon{
       margin-bottom: 10px;
   }
   .navbar-toggler-icon i{
    padding:15px!important;
    color: #77C4FF;

   }
   /* about page  ----------------*/

   .about,.about-exp{
       margin:150px auto!important
   }
   .about-title{
    font-size: 30px!important;
    margin-right: auto!important;
    margin-left: auto!important;
   }
  

   .about-content{
    font-size: 15px!important;
    line-height: 1.5;
   }
   .about-presedent-img img  {
    width: 100%!important;
    height: 300px!important;
    margin-top: 10px!important;
   
}
.about-exp1 .about-exp-content,
.about-exp2 .about-exp-content
{
    margin-right:0!important;
    margin-left:0!important;
}
.about-exp-img img{
    width: 100%!important;
    height: 300px!important;
    margin-right:0!important;
    margin-left:0!important;
}
/* services page----------------- */
.services{
    margin-top:100px!important;
}
.services-other {
    margin: 20px 0;
}
.service-title {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;
}
.service-content{
    font-size: 10px;
    text-align: center;
}
.service-img {
    margin-top: 10px!important;
    width: 100%;
    height: auto;
}
/* projects--------------------------- */
.project {
    margin-top: 100px;
    margin-bottom: 0!important;
}
.project-name {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.project-description {
    text-align: center;
}
.project-big-img {
    padding: 30px 15px;
}
.project-big-img img {
    margin-top: 10px;
    width: 100%;
    height: auto;
}
.project-sm-img img {
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.projects-other{
    margin:0;
}
/* clients----------------------------------------- */
.clients{
    margin-top:50px;
}
.clients-owl-carousel {
    margin: auto;
    padding: 20px;
}

/* units */
.unit-header {
    height: 200px;

}
.units {
    margin-top: -10px;
}
/* .unit-rent-item,.unit-item{
    display: block!important;
    width:50%;
} */



}



/* colors------------------------------------------------------------------ 

/* rgba(131 136 142,1)
#6fa8d3
#0b3751 */
/* colors classes */
.red{
    color:red
}
.yellow{
    color:yellow
}
.blue{
    color:#77C4FF;
}
.gray{
    color:#8F8F91
}
.bg-black{
    background:#232323;
}
.white{
    color: #fff;
}

