@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');
body{
    direction: rtl;
    overflow-x: hidden;
    /* font-family: 'Cairo', sans-serif; */
    font-family: 'Tajawal', sans-serif;
    color: #111;
    margin:0!important;
   
    // global style
            nav {
                position:fixed!important;
                top:0!important;
                width: 70%;
                height:70px;
                z-index: 9999;
                transition: all 1s ease-in-out;
                font-size: 12px;
                right: 0!important;
               box-sizing: border-box;
                .big-navbar-brand {
                    position: relative;
                    padding:20px ;
                    display:block

                }
                .sm-navbar-brand{
                    display: none;
                    
                }
                
                .nav-item{
                    padding:0 4px!important;
                    a{
                        color: #fff;
                        font-size: inherit;
                        font-weight: bold;
                        &:hover{
                            color: rgb(78, 175, 228)!important;
                        }
                    }
                    .active-page{
                        color:#5DC6FF!important;
                        position: relative;
                       
                    }
                
                }
                .dropdown-menu{
                    text-align: right!important;
                    box-shadow: 0px 0px 6px #5DC6FF61;
                    border-radius: 22px 0px;
                    right: -38px!important;
                    overflow: hidden;
                        a{
                            font-size: 12px;
                            text-align: center;
                            color:#011019!important;
                        }
                    }
                .dropdown-toggle::after{
                        display: none!important;
                    }
                }
                .nav-pages-bg{
                    background:#011019!important;
                    width: 100%!important;
                    box-shadow: 0 1px 6px 0 rgba(78, 175, 228,.5)!important;
                    font-size: 16px!important;
                    padding:20px;
                    height: 80px!important;
                }
                .navbar{
                    padding: 0!important;
                }
                .navbar-collapse{
                    text-align: right;
                }
                // top button
                #pagetop{
                    position: fixed;
                    bottom:20px;
                    left:20px;
                    z-index: 9999;
                    display: none;
                    transition:all 1s ease-in-out;
                    .fa-map-marker{
                        font-size: 50px;
                        color: #4eafe4
                    }
                    .fa-long-arrow-alt-up{
                        font-size: 37px;
                        color: #fff;
                        position: absolute;
                        left: 10px;
                        top: 4px;
                    }
                    &:hover {
                        .fa-map-marker{
                        color:#fff;
                        transition:all 1s ease-in-out
                        }
                        .fa-long-arrow-alt-up{
                            color: #4eafe4;
                        }
                    } 
                }
                // title
                .title-sec{
                    position: relative;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 10px;
                    margin-bottom: 30px;
                    .title{
                        color:  rgba(78, 175, 228,1);
                        font-size: 45px;
                        font-weight: 600;
                        letter-spacing: 0.45px;
                        position: relative;
                        &::after{
                          content:"";
                          position:absolute;
                          width: 30%;  
                          height: 3px;
                          border-radius: 50px;
                          top:71px;
                          right: -1%;
                          background: rgba(78, 175, 228,1)
                        }
                        &::before{
                            content:"";
                            position:absolute;
                            width: 30%;  
                            height: 3px;
                            border-radius: 50px;
                            top:71px;
                           left: -1%;
                            background: rgba(78, 175, 228,1)
                          }
                    }
                    .title-img{
                        position: absolute;
                        right: 40%;
                        top: 80%;
                        width: 20%;
                        height: 40px;
                    
                    }
                }
                .title-height{
                    height: 77px;
                    margin-top: 103px;
                  }
                  .text-content{
                    font-size:  21px;
                    font-weight: bold;
                    letter-spacing: 0.21px;
                    color: #3A3A3A;
                    line-height: 2.5rem;
                }
                

                



            /* colors classes */
                .red{
                    color:red
                }
                .yellow{
                    color:yellow
                }
                .blue{
                    color:#77C4FF;
                }
                .gray{
                    color:#8F8F91!important;
                }
                .bg-black{
                    background:#232323;
                }
                .white{
                    color: #fff;
                }
    // header
    header{
        position: relative;
        height: 746px;
        color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .carousel{
            height:746px;
            img{
                height:746px;
            }
            .carousel-indicators{
                margin: 0;
                width: 32px;
                padding: 80px 0 !important;
                height: 100%;
                display: flex;
                top: 0;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                right: 34px;
                li{
                    margin: 10px 0;
                    padding: 0;
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    background-color: rgba(30,44,56,.3);

                }
                .active{
                    background-color: rgba(30,44,56,.9);

                }
            }
            .carousel-caption{
                top: 0 !important;
                right: auto;
                left: 0;
                // background: rgba(255, 255, 255, 0.8);
                background: url(../imgs/header/s5.jpg);
                background-size: cover;
                // background-repeat: repeat-y;
                background-position: center center;
                // box-shadow:0 1px 6px 0 rgba(78, 175, 228,.5);
                bottom: auto;
                height: 100%;
                width: 30%;
                transition: all 1s ease-in-out;
                &:hover{
                    
                }
                img{
                    height: 100px;
                    width: 70px;
                    margin-top: 50px;
                    // margin-left: 25%;

                }

                h1{
                    color: #fff;
                    font-size: 55px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    margin-top: 50px;
                    // margin-left: 25%;
                  };
                  p{
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 0.5px;
                    margin-top: 4px;
                    // margin-left: 25%;
                    color: #566c79;

                };
                ul{
                    margin-top: 50px;
                    margin-left: 30px;
                    li{
                    display: inline-block;
                    margin-left:auto ;
                    margin-right:auto ;
                    a{
                    color: #fff;
                    font-size: 30px;
                    padding: 10px;
                     }
                   }
                  }
                &:hover{
                    // background:rgba(255,255,255,.6);
                    // transform: scale(1.1);
                }
            
            }
            .carousel-control-prev,
            .carousel-control-next{
                top:8%!important;
                .carousel-control-prev-icon,
                .carousel-control-next-icon{
                    background:none!important;
                    font-size:24px;
                    color: #fff
                }
            }
        }
        //end of carousel 
        
        }
        // end of header
        // home content
    .home-content{
            padding: 0!important;
            background:url(../imgs/header/s5.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position:left ;
            background-size: contain;
            height: auto;
            margin: 50px 0;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            .home-content-row{
                // background:rgba(42, 42, 42, .88) ; 
                padding: 60px;
                
                p{
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    width: 80%;
                    margin:20px -20px;
                    padding: 35px 50px;
                    font-size: 21px;
                    font-weight: bold;
                    color: #232323;
                    text-align: right;
                    transition: all 1s ease-in-out;
                    background:rgba(255,255,255,1);
                    i{
                        margin-right: 95%;
                        margin-top: -3%;
                        color:rgba(119, 196, 255, .4);
                        font-size: 34px;
                        transition:all 1s ease-in-out;
                    }
                    &:hover{
                        
                            box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px, -50px -50px 0 -40px rgba(119, 196, 255, 1), 50px 50px 0 -40px rgba(119, 196, 255, 1);
                            color: #031427;
                            background:rgba(255,255,255,.4);
                            i {
                                color:rgba(119, 196, 255, 1)
                            }
                    }
                
                
                } 
            
            }
        }
        // service home
    .home-services-sec{
            padding: 50px;
            margin:20px 0;
            background-repeat: no-repeat;
            // background-attachment: fixed;
            background-position:center ;
            background-size: contain;
            .owl-carousel{
                direction: ltr;
                .home-service-item{
                    padding: 10px 20px;
                    margin:10px 20px;
                    a{
                        height: 280px;
                        width: 280px!important;
                        overflow: hidden;
                        padding-bottom: 20px;
                        text-decoration: none;
                        transition: all 2s ease-in-out;
                        box-shadow: 0px 0px 6px #00000066;
                        position: relative;
                        &:hover{
                                transition: all 1s ease-in-out;
                                img{
                                    transform: scale(1.1);
                                    border: 4px solid #fff;
                                
                                }
                                h4{
                                    color:#fff;
                                    background:rgba(21, 35, 46, 1);
                                    height: 260px;
                                    bottom:-278px;
                                    padding-top: 140px;
                                    
                                }
                        }
                        h4{
                            color: #ffffff;
                            font-size: 28px;
                            font-weight: 600;
                            position: absolute;
                            z-index: 999;
                            height: 110px;
                            width: 260px;
                            background: #15232e;
                            bottom: -200px;
                            right: -130px;
                            padding-top: 44px;
                            transition: all 1s ease-in-out;
                            box-shadow: 0 1px 6px 0 rgba(78, 175, 228, 0.5);


                        }
                        div{
                            height: 280px;
                            width: 280px;
                            margin-bottom: 25px;
                            overflow: hidden;
                            transition: all 1s ease-in-out;
                            position: relative;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            transition: all 1s ease-in-out;
                            margin-right: auto;
                            margin-left: auto;
                            border:10px solid #fff;
                            img{
                                transition: all 1s ease-in-out;
                                border-radius: 5px;
                                height: 280px;
                                width: 280px;
                            }
                            span{
                                height: 100%;
                                width: 100%;
                                position: absolute;
                                top:0;
                                right: 0;
                                background: rgba(0,0,0,0.70);
                                transition: all 1s ease-in-out;
                                display: none;
                                h5{
    
                                    transition: all 1s ease-in-out;
                                    margin-left:4%;
                                    margin-top: 28%;
                                    i{
                                        height: 50px;
                                        width: 50px;
                                        color:#fff;
                                        border:2px solid #fff;
                                        border-radius: 50%;
                                        transition: all 1s ease-in-out;
                                        padding:15px
                                    
                                    }
                                    
                                }
                            }
                        
                        }
                    }
                }
                .owl-prev{
                    font-size: 70px!important;
                    color: #4eafe4!important;
                    height: 50px !important;
                    width: 50px !important;
                    top: 40%;
                    left: -1px;
                    position: absolute;
                    span{
                        position: absolute;
                        top: -33px;
                        right: 17px;
                    
                    }
                }
                .owl-next{
                    font-size: 70px!important;
                    color: #4eafe4!important;
                    height: 50px !important;
                    width: 50px !important;
                    top: 40%;
                    right: -1px;
                    position: absolute;
                    span{
                        position: absolute;
                        top: -33px;
                        right: 17px;
                    
                    }
                }
            } 
        }
        //video
    .home-video{
            // background: rgba(21, 35, 46,1);
            padding: 50px;
            iframe{
                margin-top:20px;
                border: 10px solid #fff;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            }
            
        }
    // home contact
    .home-contact{
            margin-top: 75px;
            margin-bottom: 75px;
            padding:50px;
            background-attachment: fixed;
            background:url(../imgs/header/s5.jpg);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position:right ;
            background-size: contain;
            height: auto;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            .home-contact-right {
                color:#fff;
                font-size: 16px;
                font-weight: 600;
                margin-bottom:10px;
                padding:20px;
                span{
                    color:#2093D1;
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    margin-right: -1px;
                    margin-top: 0px;
                }
                i{
                    box-sizing: border-box;
                    height: 55px;
                    width: 55px;
                    background: transparent;
                    border:1px solid #2093D1;
                    color: #2093D1;
                    border-radius: 5px;
                    text-align: center;
                    vertical-align: center;
                    padding-top: 15px;
                    font-size: 19px;
                    position: absolute;
                    right: -28px;
                    transition: all 1s ease-in-out;
                &:hover{
                    transform: translateY(4px);
                    background: #2093D1;
                    color: #15232e;
                    border:1px solid  #4eafe4;
                }
                }
            
            }
            form{
                padding: 100px 50px 50px;
                width: 100%;
                height: 100%;
                margin-right: 20px;
                input{

                    border: 1px solid #f0f0f0 !important;
                    background: transparent;
                    margin: 20px 20px 30px;
                    box-shadow: 0px 0px 10px #00000029;
                    border-radius: 0;
                    padding: 20px;
                    height: 60px;
                }
                textarea{
                    border: 1px solid #f0f0f0 !important;
                    background: transparent;
                    margin: 20px;
                    box-shadow: 0px 0px 10px #00000029;
                    border-radius: 0;
                    padding: 20px;
                    height: 150px;
                }
                button{
                    background: #15232e;
                    color: #ffffff;
                    /* border-radius: 32px; */
                    padding: 4px 10px;
                    height: 64px;
                    width: 100%;
                    font-size: 30px;
                    font-weight: 600;
                    transition: all 1s ease-in-out;
                    letter-spacing: 0.3px;
                    box-shadow: 0px 0px 10px #00000029;
                    // opacity: .7;
                    margin: 10px 20px;
                    &:hover{
                        transform: translateY(4px);
                        background: transparent;
                        color: #15232e;
                        border:1px solid  #15232e;
                        opacity: 1;
                    }
                }
            }
        }
        // footer
        footer{
            background:url(../imgs/s9000.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            color:#4eafe4;
            font-size: 21px;
            font-weight: 600;
            padding:50px 10px 10px 10px;
            position: relative;
            margin-right: 0!important;
            margin-left: 0!important;
            .footer-row::after{
                content: "";
                position: absolute;
                top:0;
                right: 0;
                width: 100%;
                height:100%;
                background:rgba(45,53,58,.5);
                background-repeat: no-repeat;
                background-size:cover;
                z-index: 1;
            }
            .all-footer-elements{
                position: relative;
                z-index: 999;
            }
            h3{
                font-size: 27px;
                font-weight: bold;
                letter-spacing: 0.27px;
               
            
            }
            .footer-middle {
                p{
                font-size: 12px;
               }
            
            }
            ul{
                padding-inline-start: 0;
                li{
                    display: inline-block;
                    list-style: none;
                    margin: 10px;
                    a{
                        color: #77C4FF;
                        font-size: 28px;
                        font-weight: 600;
                        height: 39;
                        width: 39;
                        transition:all 1s ease-in-out;
                        i{
                            transition:all 1s ease-in-out;
                        }
                        &:hover{
                            i{
                                color: #fff;
                                transform: scale(1.1);
                            }
                            
                        }
                    }
                }
            }
            .footer-white{
                color:#D2D2D2
            }
            .footer-bold{
                font-weight: 600;
            }
            img{
                margin-top:24px;
            }
        }
        // about page**********
        .about{
            margin: 120px auto  75px auto ;
            padding-left: 100px;
            padding-right: 100px;  
        }
        .about-presednt-content{
            background: #232323 0% 0% no-repeat padding-box;
            box-shadow: 0px 0px 15px #5DC6FFD9;
            padding:50px;
            .about-presedent-img{ 
                img{
                width: 447px;
                height:585px;
                margin-top: -85px;
                box-shadow: 0px 0px 15px #5DC6FFD9;
                transition:all 1s ease-in-out;
                 &:hover{
                    margin-top: -100px;
                 }
            }
        }
            
            
            
        }
        
        .about-exp{
            margin: 200px 0;
            padding: 0!important;
            .about-exp-title{
                margin-top: -120px;
            }
            .about-exp-content{
                box-shadow: 0px 0px 15px #5DC6FFD9;
                
            }
            .about-exp-content {
                p{
                padding: 100px 70px 50px 0;
                }
            }
            .about-exp-img {
                img{
                width: 300px;
                height: 350px;
                margin-top: -50px;
                margin-left: 50px;
                box-shadow: 0px 0px 10px rgba(58, 58, 58, 1);
                margin-bottom: 50px;
                transition: all 1s ease-in-out;
            } 
        }
        }
        // servic page*********
// media query
@media screen and (max-width: 991px) {
// header
header{
    height: 400px!important;
    .carousel{
        height:400px!important;
        img{
            height:400px!important;
        }
        .carousel-indicators{
            width: 20px;
           
            li{
               
                width: 15px;
                height: 15px;

            }
            
        }
        .carousel-caption{
            width: 25%;
            img{
                display:none

            }

            h1{
               
                font-size: 25px;
                letter-spacing: 2px;
                margin-top: 70px;
              };
              p{
                font-size: 10px;
                margin-top: 4px;
            };
            ul{
                margin-top: 20px;
                li{
                    width: 25px;
                }
                a{
                font-size: 12px;
                padding: 5px;
                width: 25px;

                
                 }
               
              }
            
        
        }
        
    }
    //end of carousel 
    
    }
// nav
nav{
         max-height: auto!important;
         min-height: 60px;
         width: 100%!important;
         right: 0;
         
         .big-navbar-brand{
             
             display: none !important;

         }
         .sm-navbar-brand{
            display: block !important;
            position: fixed!important;
            right:70%;
            top:0;
            height: 50px;
            padding: 20px;
        }
     }
// global style
 #pagetop{
  left:60px;
}
// title
.title-sec{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        margin-bottom: 30px;
        .title{           
            font-size: 30px;     
            &::after{  
              top:50px;
              right: 4%;
            }
            &::before{          
                top:50px;
               left: 4%;
              }
        }
    }
.title-height{
        height: 40px;
        margin-top: 50px;
      }
.text-content{
        font-size:  15px;
       
    }
// home page sec
.home-content {
        .home-content-row{
            p{
    width: 100%;
    margin: 20px auto;
    padding: 20px 30px;
    font-size: 15px;
    
    text-align: center;
    
}
            }
        }
        

// footer
footer{
         text-align: center!important;
        .img-2030{
            img{
                width: 200px;
            }
        }
         
     }
     
         
         
    }
       
}